<!DOCTYPE html>
<html>
  <%- include('./partials/head')  %> 
  <body class="index">
    <%- include('./partials/header')  %> 
    <div class="container-text">
      <div class="banner"></div>
      <div class="container-item">
        <h1>DELPHOS</h1>
        <p>Soluciones tecnológicas personalizadas para tu negocio</p>
        <button>CONTACTANOS</button>
      </div>
    </div>
    
    <%- include('./partials/footer')  %>
    <%- include('./partials/scripts')  %>
  </body>
</html>
