<!DOCTYPE html>
<html>
  <%- include('./partials/head')  %> 
  <body class="portfolio">
    <%- include('./partials/header')  %> 
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <div class="container-text">
            <div class="banner b1"></div>
            <div class="container-item">
              <h1>Aplicaciones de Escritorio Personalizadas</h1>
              <ul>
                <li>- Gestión de stock</li>
                <li>- Emisión de facturas PDF</li>
                <li>- Cálculos de ganancias</li>
                <li>- Gráficos y estadísticas</li>
              </ul>
              <button>VER MÁS</button>
            </div>
          </div>
          
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="container-text">
            <div class="banner b2"></div>
            <div class="container-item">
              <h1>Diseño y desarrollo de Plataformas e-commerce</h1>
              <ul>
                <li>- Plataforma e-commerce</li>
                <li>- Registro de usuarios y ventas</li>
                <li>- Panel de control administrativo</li>
                <li>- Integración con MercadoPago y MercadoEnvío</li>
              </ul>
              <button>VER MÁS</button>
            </div>
          </div>
          
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="container-text">
            <div class="banner b3"></div>
            <div class="container-item">
              <h1>Páginas de Portfolio Autoadministrables</h1>
              <ul>
                <li>- Publicación de trabajos, notas y noticias</li>
                <li>- Manejo de imágenes y videos</li>
                <li>- Diseños personalizados</li>
                <li>- Integración con Redes Sociales</li>
              </ul>
              <button>VER MÁS</button>
            </div>
          </div>
          
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="container-text">
            <div class="banner b4"></div>
            <div class="container-item">
              <h1>Hosting y Dominios</h1>
              <ul>
                <li>Todo lo que necesitás para tener presencia en la red</li>
                <li>- Dominios personalizados</li>
                <li>- Distintas opciones de hospedaje según tus necesidades</li>
                <li> </li>
              </ul>
              <button>VER MÁS</button>
            </div>
          </div>
          
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>

    <%- include('./partials/footer')  %>
    <%- include('./partials/scripts')  %>
  </body>
</html>
