
.portfolio .carousel-fade{
    width: 100vw;
    margin: auto;
}

.portfolio .carousel-control-prev, 
.portfolio .carousel-control-next{
    background-color: var(--color-azul-oscuro);
    height:40px;
    width:40px;
    margin:auto;
}
.portfolio .carousel-control-prev{
    margin-left:20px;
}
.portfolio .carousel-control-next{
    margin-right:20px;
}

.portfolio .container-text{
    position: relative;
}
.portfolio .container-item{
    position: absolute;
    top: 50%;
    left:20%;
}
.portfolio h1{
    margin-bottom:20px;
}
.portfolio h1, .portfolio li{
    color: white;
}
.portfolio li{
    font-size:20px;
    padding-right:20px;
}
.portfolio button{
    padding:10px;
    color: var(--color-gris-1);
    background-color:var(--color-gris-4);
    margin-top:20px;
    font-size:22px;
    border:1px solid var(--color-gris-1);
}
.portfolio .banner{
    
    height:75vh;
    width: 100vw;
    background-size: cover;
}
.portfolio .b1{
    background-image: url("../images/estadistica1.jpg");
}
.portfolio .b2{
    background-image: url("../images/carrito1.jpg");
}
.portfolio .b3{
    background-image: url("../images/redes1.webp");
}
.portfolio .b4{
    background-image: url("../images/hosting2.jpg");
}